.footer {
    padding: 160px 0 60px;
    background: $Background-blue;

    @media(max-height: 800px) and (min-width: 768px){
        padding: 80px 0;
    }

    @media(max-width:1200px){
        padding: 80px 0 60px;
    }

    &__col{
        @media(max-width:768px){
            margin-top: 25px !important;
        }
    }

    &__wrapper {
        .logo{
            img{
                max-width: 100%;
            }
        }
    }

    &__links {
    }

    &-social {
        @media(max-width:576px){
            justify-content: center;
        }

        &__item {
            & + &{
                margin-left: 20px;
            }
        }

        &__link {
            
        }

        &__iccon {
            width: 24px;
            height: 24px;
            fill:$Typography;
            transition: all .8s ease 0s;
            
            &:hover{
                fill:$Secondary;
            }
        }
    }

    &-list {
        &__item {
            & + &{
                margin-top: 16px;
            }
        }

        &__link {
            font-size: 18px;
            color:$Typography;
        }
    }
}

.links-footer {
    display: flex;
    margin-top: 120px;

    @media(max-width:1200px){
        margin-top: 60px;
    }

    @media(max-width:576px){
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    &__item {
        font-size: 18px;
        color:$Typography;

        & + &{
            margin-left: 60px;

            @media(max-width:576px){
                margin-left: 0;
                margin-top: 15px;
            }
        }
    }
}
